<!doctype html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>에어팟 구매하기</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css 파일 불러오기 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='onepage_shoppingmall.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Jua|Noto+Sans+KR|Sunflower:300&display=swap" rel="stylesheet">
</head>


<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script>

    $(document).ready(function () {
        $('#orders-box').html('');
        listing();
    });

    function listing() {
        $.ajax({
            type: "GET",
            url: "/orders",
            data: {},
            success: function (response) {
                if (response['result'] == 'success') {
                    let orders = response['orders'];
                    for (let i = 0; i < orders.length; i++) {
                        make_card(orders[i]['name'], orders[i]['count'], orders[i]['address'], orders[i]['phonenum']);
                    }
                } else {
                    alert('주문 내역을 받아오지 못했습니다');
                }
            }
        })
    }

    function make_card(name, count, address, phonenum) {
        let temp_html = '<tr>\
                                <td>'+ name + '</td>\
                                <td>'+ count + '</td>\
                                <td>'+ address + '</td>\
                                <td>'+ phonenum + '</td>\
                            </tr>';
        $('#orders-box').append(temp_html);
    }

    function order() {

        let orderName = $('#orderName').val();
        let orderCount = $('#orderCount').val();
        let orderAddress = $('#orderAddress').val();
        let orderNumber = $('#orderNumber').val();

        if (orderName == '') {
            alert('성함을 입력해 주세요');
            $('#orderName').focus();
        } else if (orderCount == 0) {
            alert('개수를 선택해 주세요');
            $('#orderCount').focus();
        } else if (orderAddress == '') {
            alert('주소를 입력해 주세요');
            $('#orderAddress').focus();
        } else if (orderNumber == '') {
            alert('연락처를 입력해 주세요');
            $('#orderNumber').focus();
        } else if (!isMobile(orderNumber)) {
            alert('01X-111(2222)-1234 형식으로 입력해 주세요');
            $('#orderNumber').val(' ');
            $('#orderNumber').focus();
        } else {
            $.ajax({
                type: "POST",
                url: "/orders",
                data: { name_give: orderName, count_give: orderCount, address_give: orderAddress, phonenum_give: orderNumber },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.reload();
                    }
                }
            })
        }
    }


    function isMobile(phoneNum) {
        var regExp = /(01[016789])[-]([1-9]{1}[0-9]{2,3})[-]([0-9]{4})$/;
        var myArray;
        if (regExp.test(phoneNum)) {
            myArray = regExp.exec(phoneNum);
            return true;
        } else {
            return false;
        }
    }


</script>


</head>

<body>
    <div id="wrap">
        <div class="jumbotron">
            <h2>에어팟 Pro 구매하기</h2>
            <img id="airpots"
                src="http://post.phinf.naver.net/MjAxOTEwMjlfNDkg/MDAxNTcyMzI2NTAxODI1.sxxad3DAAoAITtUP4uGmPbscmFahBPS_JmBv1Uc9Z84g.UPIGDdXt7lbvWvQ73d0Ls0GCarPaJgV2wreTPxIX7wkg.JPEG/I3B1w_jyG6NePAIAtbOCjIrIu1VI.jpg"
                alt="에어팟 Pro">
            <h5>에어팟 Pro <span class="badge badge-secondary">320,000 / 개</span></h5>
            <p>
                온전히 빠져들게 하는 액티브 노이즈 캔슬링. 주변의 소리를 들려주는 주변음 허용 모드. <br>
                온종일 편안한 맞춤형 핏. 새롭게 귓가를 찾아온 매혹. 귀와 하나 되다.
            </p>
            <hr class="my-4">
            <h5>주문하기</h5>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">주문자 성함</span>
                </div>
                <input type="text" id="orderName" class="form-control" placeholder="성함을 입력하세요" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="orderCount">수량</label>
                </div>
                <select class="custom-select" id="orderCount">
                    <option value="0" selected>구매할 개수를 선택하세요</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">주소</span>
                </div>
                <input type="text" id="orderAddress" class="form-control" placeholder="주소를 입력하세요" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">전화번호</span>
                </div>
                <input type="text" id="orderNumber" class="form-control" placeholder="전화번호를 입력하세요" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <p class="order">
                <a class="btn btn-primary btn-lg" onclick="order()" role="button">주문하기</a>
            </p>
        </div>
        <div class="orders">
            <table class="table">
                <thead>
                    <tr>
                        <th class="meta_info" scope="col">이름</th>
                        <th class="meta_info" scope="col">수량</th>
                        <th scope="col">주소</th>
                        <th scope="col">전화번호</th>
                    </tr>
                </thead>
                <tbody id="orders-box">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




</body>

</html>